{% load static %}

<!--Enables use of intcomma to display thousands seperator-->
{% load humanize %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Base.css-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
    <title>FUND-VIEW: Funds</title>
</head>
<body>

    <header class="txt-center">
        <h1>Funds</h1>
        <p>Table below presents funds data which has been successfully loaded. The funds can be filtered by strategy type.</p>
    </header>

    <main class="funds-main">
       
        <!--Funds Table Section-->
        <section>

            <!--Filter by Strategy -->
            <form class="funds-filter" method="GET" action="{% url 'view_funds' %}">
                <label>Filter table by &nbsp;</label>
                {{ filter.form }}
                <button class="btn-small" type="submit">Apply Filter</button>
            </form>    
            

            <!-- Funds Table -->

            <table class="funds-table">
                <!--Table Header: to display field names -->
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Strategy</th>
                        <th>AUM (USD)</th>
                        <th>Inception Date</th>
                    </tr>
                </thead>

                <!--Table Body: to dsiplay fund data -->
                <tbody>
                {% for fund in funds %}
                    <tr>
                        <td class="txt-center"><a href="{% url 'fund_detail_api' fund.id %}">{{ fund.name }}</a></td>
                        <td class="txt-center">{{ fund.strategy }}</td>
                        <td class="txt-right">{{ fund.aum|intcomma }}</td>
                        <td class="txt-center">{{ fund.inception_date }}</td>
                    </tr>
        
                <!--Handle instances where there are no funds data matching selection -->
                {% empty %}
                    <tr>
                        <td>There are no funds matching your selection</td>
                    </tr>
                
                {% endfor %}
                </tbody>
            </table>
                
            <!--Totals: for Count / AUM  -->
            <div class="fund-totals">
                <p>Total no. of funds: <strong class="pad-left">{{ funds_num }}</strong></p>
                <p>Total AUM (USD): <strong class="pad-left">{{ funds_val|intcomma }}</strong></p>
            </div>

        </section>

        <!-- API Section-->
        <section class="bordered home-section txt-center">
            <h3>API Endpoints</h3>
            <p>Note: API endpoints for invidual funds can be accessed via the fund name in the table above.</p>
            <a class="btn" href="{% url 'funds_list_api' %}">View API (All Data)</a>
            <p>API endpoints for specific strategies:</p>
            <div class="strategy-api">
                <a class="btn" href="{% url 'funds_list_api' %}?strategy=arbitrage">View API (Arbitrage)</a>
                <a class="btn" href="{% url 'funds_list_api' %}?strategy=long_short_equity">View API (Long/Short Equity)</a>
                <a class="btn" href="{% url 'funds_list_api' %}?strategy=global_macro">View API (Global Macro)</a>
            </div>
        </section>
        

    </main>

    
  

    <footer>
        <a class="btn" href="{% url 'home' %}">Return to home page</a>
    </footer>
    
</body>
</html>